
   <div class="user-details-container">
    <p-card>
      <ng-template pTemplate="header">
        <h2>User Details</h2>
      </ng-template>
  
      <ng-template pTemplate="content">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input id="firstName" type="text" pInputText [(ngModel)]="user.first_name" disabled />
        </div>
  
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input id="lastName" type="text" pInputText [(ngModel)]="user.last_name" disabled />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" pInputText [(ngModel)]="user.email" disabled />
        </div>
  
        <div class="form-group">
          <label for="avatar">Avatar</label>
          <img [src]="user.avatar" alt="User Avatar" class="user-avatar" />
        </div>
  
        <div class="button-group">
          <button pButton label="Cancel" class="p-button-secondary" (click)="onCancel()"></button>
        </div>
      </ng-template>
    </p-card>
  </div>
  